/* NavMain */
.logoText{
	font-size: 25px;
	margin-left: 10px;
}

.iconFix{
	display: block !important;
	font-size: 36px;
}

.menuIconFix{
	position: relative;
	top: 6px;
}

.rowNoPadding{
	padding: 0px !important;
}					 

/* Cards */
.containerPadding{
	width: 90%;
	padding: 0px;
}

/* navSearch, Home */

#navSearchHome{
	width: 100% !important;
}

#navSearchHome > a{
	padding: 0px;
	text-align: center;
}

.navFontSize{
	font-size: 26px !important;
}