<div class="nav-wrapper">
  <a href="#" class="brand-logo logoText waves-effect waves-light">0xF Chan</a>
  <a href="#" data-activates="mobile-demo" class="button-collapse hide-on-med-and-up">
  	<i class="material-icons">menu</i></a>
  <ul id="nav-desktop-tablet" class="right hide-on-small-and-down">
	  <li>
	  	<a href="#/search">
	  		<i class="material-icons left">search</i>Search
	  	</a>
	  </li>
  </ul>
  <ul class="side-nav" id="mobile-demo">
    <li><a href="#/search">Search</a></li>
  </ul>
</div>
<script type="text/javascript" src="/public/js/sideNav.js"></script>