<div class="containerSize">
  <div class="row">
    <div ng-repeat="thread in threads | orderBy: 'title'" class="col s6 m4 l3">
      <div class="card">
        <a href="#home/board/{{thread._id}}">
          <div class="card-image waves-effect waves-light">
            <img src = "http://loremflickr.com/500/333/anime" ng-src="{{thread.img}}">
            <span class="card-title text-muted">
            </span>
          </div>
        </a>
        <div class="card-content">
          <h5 class = "flow-text">{{thread.title}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>