<div class="containerSize">
  <div class="row">
    <!-- Adding a new thread card -->
    <div class = "col s6 m4 l3">
      <div class="card-panel newThread">
        <form>
          <div id = "thread-name" class="input-field">
            <input id="input_text" class = "flow-text" type="text" length="23">
            <label for="input_text">Thread name</label>
          </div>
          <input type="file"/>
          <div class="g-recaptcha" data-sitekey="6LdHMxETAAAAAMxz28sD4tCPK2Vcu5ra5gBY6-9f"></div>
          <button class="btn waves-effect waves-light flow-text" type="submit" name="action">Create
            <i class="material-icons right">send</i>
          </button>
        </form>
      </div>
    </div>
    <!-- Current threads card -->
    <div ng-repeat="thread in threads | orderBy: 'title'" class="col s6 m4 l3">
      <div class="card">
        <a href="#home/board/{{thread._id}}">
          <div class="card-image waves-effect waves-light">
            <img src = "http://loremflickr.com/500/333/anime" ng-src="{{thread.img}}">
            <span class="card-title text-muted">
            </span>
          </div>
        </a>
        <div class="card-content">
          <h5 class = "flow-text">{{thread.title}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>