<md-content ng-hide="isValid()" class="md-padding" layout="row" layout-wrap>
  <div flex-sm="50"  flex-md= "33" flex-lg="25" flex-gt-lg="25"
  ng-repeat="thread in threads | orderBy: 'title'">
    <md-card>
      <div class = "square" hc-href="#/home/board/{{boardId}}/{{thread._id}}">
        <img ng-src="{{thread.img}}" class="md-card-image"
             alt="Thread Image">
      </div>
      {{threadLink}}
      <md-card-content>
        <h1 class="md-title titleEllipsis">{{thread.title}}</h1>
      </md-card-content>
    </md-card>
  </div>
</md-content>
{{error}}